/* https://www.w3.org/TR/sdw-ucr/localstyles.css */
.contributor:before {
	content: "Contributed by: ";
	font-weight: bold;
}

.deliverables:before {
	content: "Deliverable(s): ";
	font-weight: bold;
}
/* CSS based largly on SDWWG template */

/* Hide deliverables for the moment, filter by tags*/
.deliverables{
	display: none;	
}

.tag, .switch{
	display: inline-block;
	margin-right: 0.5em; 
	font: bold 1em Arial;
	text-decoration: none;
	background-color: #eeeeee;
	color: #333333;
	padding: 2px 6px 2px 6px;		
	border: 2px solid;
	border-radius: 5px;
}

.switch{
	box-shadow: 0 6px #ababab;
}

.switch:hover {
	  
}

.switch.deliverable_reference{
}

.switch.checked {
	color: #406041;
	background-color: #b3d6b4;
	box-shadow: 0 3px #ababab;
	transform: translateY(5px);
}

.tags:before {
	content: "Tags: ";
	font-weight: bold;
}

p.tags:empty:after {
	content: 'no tags';
}

.stakeholders:before {
	content: "Stakeholders: ";
	font-weight: bold;
}

.description:before {
	display: block;
	content: "Description";
	font-weight: bold;
}

.existing_approaches:before {
	display: block;
	content: "Existing approaches";
	font-weight: bold;
}

.links:before {
	content: "Links";
	font-weight: bold;
}

.related_use_cases:before {
	content: "Related use cases";
	font-weight: bold;
}

.comments:before {
	content: "Comments";
	font-weight: bold;
}

.requirements:before {
	content: "Requirements";
	font-weight: bold;
}

.relatedDeliverables:before {
    content: "Related deliverables: ";
    font-weight: bold;
}
.relatedRequirements:before {
    content: "Related requirements: ";
    font-weight: bold;
}
.relatedUseCases:before {
    content: "Related use cases: ";
    font-weight: bold;
}
.hidden {
	display: none;
}
.visible {
	display: block;
}
.toggleVis {
	text-decoration: none;
	font-weight: bold;
}
.expandOrCollapse {
	font-weight: bold;
}

a.sec-ref:after{	
	content: "\02002";
}
