
#respecDocument {
 padding-left: 30px; 
 padding-right: 2px; 
}

div.specterm {
  padding-left: 2px;
  padding-right: 2px;
}

.specterm table {
  max-width: calc( 100% - 4px);
  word-wrap: break-word ; 
  overflow-wrap: break-word;
}

.specterm table tbody th, .specterm table tbody td {
 padding: 2px; 
}