/* Force W3C logo to site side by side with OGC logo */
.head img[src*="logos/W3C"] {
  display: inherit !important;
}
.head a:hover > img[src*='ogc'] {
  opacity: 0.8;
}

/* Styles to replicate key LODS styles */

ul.hlist {
  list-style-type:none;
  background-color: #eee;
}
ul.hlist li {
  display:inline;
  margin-right: 1em;
  font-size:smaller;
}
.entity {
  border: 0px solid black;
  padding: 1.5em;
  margin-top: 1.5em;
}
.entity h4 {
  margin-top:0;
}
.entity dl {
  border: dashed thin black;
  border-width:0px 0;
  background-color:#eee;
  margin: 0 0.5em;
}
p.iri::before {
  content: "IRI: ";
  font-weight: bold;
  font-family:sans-serif;
}
p.iri {
  font-family:monospace;
}
span.logic {
  font-weight:bold;
  color:purple;
}
span.dotted {
  text-decoration-line:underline;
  text-decoration-style: dotted;
  text-decoration-color:black;
}

/* Styles to replicate key SpecGen styles */

.specterm {
    margin-top: 1em;
}

.specterm h4 {
    margin-top: 1em;
}

.specterm table {
    margin-top: 0.5em;
}

section.specterm {
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 0.1ex;
    padding-bottom: 0.1ex;
}

.azlist {
  margin-top: 10pt;
  padding: 5px;
  border: 1px solid #e3dcf2;
}


/* Styles added by Kerry for formatting code including ttl */
.tab1 {
 text-indent: 24pt;
}
.tab2 {
 text-indent: 48pt;
}
.tab3 {
 text-indent: 72pt;
}
.tab4 {
 text-indent: 96pt;
}
.tab5 {
 text-indent: 120pt;
}

/* Styles added by Simon for clean table borders */

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #f2f2f2;
}

th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

.specterm h5 , .specterm h6 {
  font-weight: bold;
  font-style: normal;
  font-variant: normal;
  margin-top: 1em;
  margin-bottom: 1em;
}

section.specterm, section.specterm th{
    background-color: #c7eae5;
}

section.specterm.sosa, section.specterm.sosa th{
    background-color: #c7eae5;
}

section.specterm.ssn, section.specterm.ssn th, section.specterm.sosa tr.ssn, section.specterm.sosa tr.ssn th {
    background-color: #67a9cf;
}


.buttonpanel {
   display: flex;
   justify-content: flex-end ;
    margin-top: 1ex;
    margin-bottom: 1ex;
    padding-left: 1ex;
    padding-right: 1ex;
    padding-top: 1ex;
    padding-bottom: 0.6ex;
    border: 0px dotted black;
    font-size: small;
}
