table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #f2f2f2;
}

th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

.codelisting {
    padding:0 5px 5px 5px;
    background-color: #eee;
    border-left: solid 0.5em #999;
}

.codelisting-title {
    font-family: sans-serif;
    font-size: medium;
    line-height: 1.5;
    text-transform: none;
    color: #666;
    margin-top: -1em;
}
