div.requirement {
    background-color: rgb(235, 255, 255);
    border-left: solid 0.5em rgb(153, 204, 255);
    padding: 1em;
    color: #005A9C;
    margin: 1em 0;
}

div.requirement > p.reqTitle {
    text-transform: uppercase;
}

div.req-response {
    margin: 1em 0;
    padding: 1em;
    background-color: #e0e0eb;
}

div.req-response > p.respTitle {
    text-transform: uppercase;
}