table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #f2f2f2;
}

th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

div.req-response {
    margin: 1em 0;
    padding: 1em;
    background-color: #e0e0eb;
}

div.req-response > p.respTitle {

}

.prop {
    width: 130px;
}
